# What are Lists?

- Lists in Python are ordered collections of items, capable of holding a variety of data types such as integers, floats, strings, or even other lists.
- They are **mutable**, meaning that you can change, add, or remove elements from them after they have been created. 
- Lists are denoted by square brackets `[ ]` and can be nested to create multidimensional arrays.

- Lists are versatile and fundamental data structures in Python, offering flexibility, mutability, and a wide range of operations for handling collections of elements efficiently.
- Understanding lists and their functionalities is crucial for writing clear, concise, and effective Python code.

## **1. Declaration and Initialization**

- You can create a list in Python by enclosing comma-separated elements within square brackets `[ ]`.

In [1]:
my_list = [1, 2, 3, 4, 5]

In [2]:
my_list

[1, 2, 3, 4, 5]

- Lists can also be initialized with elements of different data types:

In [3]:
mixed_list = [1, 'a', 3.14, True, [5, 6, 7]]

In [4]:
mixed_list

[1, 'a', 3.14, True, [5, 6, 7]]

## **2. Indexing and Slicing**

- Lists support indexing, allowing you to access individual elements by their position (index) within the list.
- Indexing starts from 0 for the first element and goes up to `len(list) - 1` for the last element.

In [5]:
print(my_list[0])

1

In [6]:
mixed_list[2]

3.14

In [7]:
len(mixed_list)

5

In [8]:
mixed_list[4]

[5, 6, 7]

In [10]:
mixed_list[-1]

[5, 6, 7]

In [9]:
print(my_list[-1])

5

**Slicing allows you to access a subset of elements within the list by specifying a range of indices**

In [12]:
my_list

[1, 2, 3, 4, 5]

In [13]:
print(my_list[1:4])

[2, 3, 4]

In [14]:
# elements from the beginning to index 2
print(my_list[:3])

[1, 2, 3]

In [15]:
# elements from index 2 to the end
print(my_list[2:])

[3, 4, 5]

## **3. Mutable Nature**

- Lists are mutable, meaning that you can modify their elements after creation.
- You can change, add, or remove elements as needed.

In [19]:
my_list

[1, 2, 10, 4, 5]

In [20]:
# Change the value at index 2 to 10
my_list[2] = 90

In [22]:
print(my_list)

[1, 2, 90, 4, 5]

In [23]:
# Add new element 6 to the end of the list
my_list.append(6)

In [24]:
print(my_list)

[1, 2, 90, 4, 5, 6]

In [25]:
# Remove the element 2 from the list
my_list.remove(90)

In [28]:
print(my_list)

[1, 2, 4, 5, 6]

## **4. Length and Membership**

- You can determine the length of a list using the `len()` function

In [27]:
print(len(my_list))

5

- Lists support membership testing to check if an element is present in the list

In [30]:
print(4 in my_list)

True

In [31]:
print(7 in my_list)

False

## **5. Iteration and List Comprehension**

- You can iterate over the elements of a list using a loop

In [33]:
for item in my_list:
    print(item)

1
2
4
5
6

In [36]:
list_comp = [item for item in my_list]

In [37]:
list_comp

[1, 2, 4, 5, 6]

In [38]:
type(list_comp)

list

- List comprehension provides a concise way to create lists based on existing lists

In [39]:
squared = [x**2 for x in my_list]

In [40]:
print(squared)

[1, 4, 16, 25, 36]

In [43]:
squared_numbers = []

In [44]:
squared_numbers

[]

In [45]:
type(squared_numbers)

list

In [46]:
for number in my_list:
    squared_numbers.append(number**2)

In [47]:
squared_numbers

[1, 4, 16, 25, 36]

## **6. Built-in Functions**

- Python provides several built-in functions for working with lists

- `len(list)`: Returns the number of elements in the list.
- `min(list)`: Returns the smallest element in the list.
- `max(list)`: Returns the largest element in the list.
- `sum(list)`: Returns the sum of all elements in the list.
- `sorted(list)`: Returns a new sorted list.

In [50]:
my_list

[1, 2, 4, 5, 6]

In [51]:
print(len(my_list))

5

In [52]:
print(min(my_list))

1

In [53]:
print(max(my_list))

6

In [54]:
print(sum(my_list))

18

In [55]:
print(sorted(my_list))

[1, 2, 4, 5, 6]

In [56]:
# not stored in memory until assigned with a variable
my_list

[1, 2, 4, 5, 6]

## **7. Practical Applications**

- Lists are widely used in various applications:

    - Storing and processing collections of data.
    - Implementing stacks, queues, and other data structures.
    - Iterating over and manipulating sequences of elements.
    - Representing matrices, graphs, and other mathematical structures.

## Creating list using the `range()` function

- The `range()` function in Python generates a sequence of numbers within a specified range.
- You can create a list using the `range()` function by passing its output to the `list()` constructor.

In [58]:
range(10)

range(0, 10)

In [59]:
# Creating a list of numbers from 0 to 9
my_list = list(range(10))
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
list(range(3,8,2))

[3, 5, 7]

#### Explanation

- In this example, `range(10)` generates numbers from 0 to 9 (excluding 10), and `list(range(10))` converts this sequence into a list. 
- You can also specify a starting number and a step size within the `range()` function to customize the sequence further.

## Concatenation

- In Python, you can concatenate two lists using the `+` operator or the `extend()` method.

In [67]:
# Using the `+` operator:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenated_list = list1 + list2
print(concatenated_list)

[1, 2, 3, 4, 5, 6]

In [68]:
# Using the `extend()` method:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

### **Real-life Example: Merging Two Contact Lists**

- Imagine you have two contact lists, one for your personal contacts and another for your professional contacts.
- You want to merge these two lists into one comprehensive list without any duplicates.

In [69]:
personal_contacts = ["Alice", "Bob", "Charlie"]
professional_contacts = ["David", "Alice", "Eve"]

In [70]:
personal_contacts

['Alice', 'Bob', 'Charlie']

In [72]:
type(personal_contacts)

list

In [71]:
professional_contacts

['David', 'Alice', 'Eve']

In [73]:
type(professional_contacts)

list

In [74]:
# Merge the two lists
all_contacts = personal_contacts + professional_contacts

In [75]:
all_contacts

['Alice', 'Bob', 'Charlie', 'David', 'Alice', 'Eve']

In [76]:
type(all_contacts)

list

In [77]:
# Remove duplicates
all_contacts = list(set(all_contacts))

In [78]:
print(all_contacts)

['Charlie', 'Bob', 'David', 'Eve', 'Alice']

## Repetition of Lists

- In Python, you can repeat a list by using the `*` operator.
- This operator allows you to replicate the elements of a list a specified number of times.

In [79]:
original_list = [1, 2, 3]

# Repeat the list three times
repeated_list = original_list * 3  

# printing the repeated list
print(repeated_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

- In this example, the original list `[1, 2, 3]` is repeated three times using the `*` operator, resulting in `[1, 2, 3, 1, 2, 3, 1, 2, 3]`.

- Repeating a list can be useful in various scenarios, such as when you need to initialize a list with a certain pattern of values, or when you want to create a list with a specific length by repeating a smaller list.

#### **Example 1: Initializing a List with Default Values**

In [80]:
# Initialize a list with ten zeros
zeros_list = [0] * 10
print(zeros_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### **Example 2: Creating a List with a Specific Pattern**

In [33]:
# Create a list with alternating values of 1 and 2
pattern_list = [1, 2] * 5
print(pattern_list)

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

**These examples demonstrate how list repetition can be leveraged to simplify code and achieve desired patterns or lengths in lists.**

## Memberships in Lists

- In Python, membership operators are used to test whether a value or an element is present in a sequence (like a list) or not. 
- There are two membership operators: `in` and `not in`.

### 1. **`in` Operator**

- The `in` operator checks if a value exists in a list.
- It returns `True` if the value is found in the list, and `False` otherwise.

In [81]:
my_list = [1, 2, 3, 4, 5]

In [82]:
print(3 in my_list)

True

In [83]:
print(6 in my_list)

False

### 2. **`not in` Operator**

- The `not in` operator checks if a value does not exist in a list.
- It returns `True` if the value is not found in the list, and `False` otherwise.

In [84]:
my_list = [1, 2, 3, 4, 5]

In [85]:
print(3 not in my_list)

False

In [86]:
print(6 not in my_list)

True

**Membership operators are commonly used to perform conditional checks and filtering in Python.**

#### **Example 1: Check if a User is in a List of Allowed Users**

In [87]:
allowed_users = ['Alice', 'Bob', 'Charlie', 'David']

username = input("Enter your username: ")

if username in allowed_users:
    print("Access granted!")
else:
    print("Access denied!")

Enter your username: Arun
Access denied!

#### **Example 2: Filter Even Numbers from a List**

In [89]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [90]:
even_numbers = [num for num in numbers if num % 2 == 0]

In [91]:
print(even_numbers)

[2, 4, 6, 8, 10]

In [92]:
even = []
odd = []
for i in numbers:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

In [93]:
even

[2, 4, 6, 8, 10]

In [94]:
odd

[1, 3, 5, 7, 9]

#### **Example 3: Remove Specific Values from a List**

In [46]:
my_list = [1, 2, 3, 4, 5]

In [47]:
value_to_remove = 3

if value_to_remove in my_list:
    my_list.remove(value_to_remove)

print(my_list)

[1, 2, 4, 5]

**These examples demonstrate how membership operators (`in` and `not in`) are used with lists to perform various operations such as checking for existence, filtering, and conditional processing.**

## Aliasing and Cloning

### **1. Aliasing**

- Aliasing occurs when two or more variables refer to the same object or memory location.
- In the context of lists, if you assign one list to another variable, both variables will refer to the same list object in memory.
- Changes made to one variable will affect the other variable as well.

In [1]:
original_list = [1, 2, 3]

# alias_list is now an alias for original_list
alias_list = original_list

In [2]:
# Modify the alias_list
alias_list.append(4)

# Check the original list
print(original_list)

[1, 2, 3, 4]

#### Explanation

- In this example, `alias_list` is an alias for `original_list`. 
- When we append `4` to `alias_list`, it also modifies `original_list` because they both refer to the same list object in memory.

### **2. Cloning**

- Cloning, also known as copying, involves creating a new list that contains the same elements as the original list.

- Cloning, also known as copying, involves creating a new list that contains the same elements as the original list.
- This ensures that changes made to one list do not affect the other list.

**There are several ways to clone a list in Python**

- Using slicing (`[:]`)
- Using the `list()` constructor
- Using the `copy()` method (for Python 3 and above)

### Using slicing (`[:]`)

In [3]:
original_list = [1, 2, 3]

In [4]:
original_list

[1, 2, 3]

In [7]:
id(original_list)

2955021467008

In [5]:
# Clone original_list using slicing
cloned_list = original_list[:]

In [6]:
cloned_list

[1, 2, 3]

In [8]:
id(cloned_list)

2955024343744

In [9]:
# Modify the cloned_list
cloned_list.append(4)

In [10]:
cloned_list

[1, 2, 3, 4]

In [11]:
# print the original list
print(original_list)

[1, 2, 3]

### Using the `list()` constructor

In [12]:
original_list = [1, 2, 3]

In [13]:
# Clone original_list using list constructor
cloned_list = list(original_list)

In [14]:
id(original_list)

2955024926656

In [15]:
id(cloned_list)

2955021457344

In [16]:
# Modify the cloned_list
cloned_list.append(4)

In [17]:
cloned_list

[1, 2, 3, 4]

In [18]:
print(original_list)

[1, 2, 3]

### Using the `copy()` method

In [19]:
import copy

In [20]:
original_list = [1, 2, 3]

In [21]:
# Clone original_list using copy method
cloned_list = copy.copy(original_list)

In [22]:
id(original_list)

2955025123904

In [23]:
id(cloned_list)

2955025241280

In [24]:
# Modify the cloned_list
cloned_list.append(4)

In [25]:
cloned_list

[1, 2, 3, 4]

In [26]:
print(original_list)

[1, 2, 3]

**In each of these examples**, 
- `cloned_list` is a separate list object that contains the same elements as `original_list`. 
- Therefore, modifying `cloned_list` does not affect `original_list`.

**It's important to understand the difference between aliasing and cloning, as they can have different implications depending on your use case.**

## Methods to process a list

- There are numerous methods and techniques available in Python for processing lists, allowing you to **manipulate, iterate, filter, and transform list** elements according to your requirements.

### 1. **Iteration with Loops**

- You can use loops like `for` or `while` to iterate over the elements of a list and perform actions on each element.

In [27]:
my_list = [1, 2, 3, 4, 5]

In [28]:
my_list

[1, 2, 3, 4, 5]

In [32]:
# Iterate over the elements using a for loop
for element in my_list:
    print(element)

1
2
3
4
5

In [34]:
# local variable
element

5

In [35]:
# user defined variable (global varibale)
a=5

In [36]:
# Iterate over the elements using a while loop
i = 0
while i < len(my_list):
    print(my_list[i])
    i += 1

1
2
3
4
5

### 2. **List Comprehensions**

- List comprehensions provide a concise way to create lists based on existing lists, with **optional filtering and transformation.**

In [38]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [39]:
# Create a new list containing the squares of numbers from 1 to 5
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

#### HW - convert the above list comprehension to a for loop

In [40]:
# Filter even numbers from a list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

#### HW - Convert the above list comprehension into a for loop to ge tthe same results

### 3. **Built-in Functions**

- Python provides several built-in functions for processing lists, such as `len()`, `min()`, `max()`, `sum()`, and `sorted()`.

In [41]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6]

In [42]:
my_list

[3, 1, 4, 1, 5, 9, 2, 6]

**1. `len()`**

In [43]:
# return the number of elements in a list
print(len(my_list))

8

**2. `min()`**

In [44]:
# return the minimum value from the list
print(min(my_list))

1

**3. `max()`**

In [45]:
# return the maximum vlue from the list
print(max(my_list))

9

#### **4. `sum()`**

In [47]:
# returns the sum of elements
print(sum(my_list))

31

#### **5. `sorted()`**

In [52]:
# returns the sorted list
print(sorted(my_list, reverse=True))

[9, 6, 5, 4, 3, 2, 1, 1]

In [50]:
sorted_list = sorted(my_list)

In [51]:
sorted_list

[1, 1, 2, 3, 4, 5, 6, 9]

In [49]:
my_list

[3, 1, 4, 1, 5, 9, 2, 6]

### 4. **Manipulating Elements**

- You can modify, add, remove, or search for elements in a list using various methods such as `append()`, `extend()`, `insert()`, `remove()`, `pop()`, `index()`, and `count()`.

In [53]:
my_list = [1, 2, 3]

In [54]:
my_list

[1, 2, 3]

#### **1. `append()`**

In [55]:
# Append an element to the end
my_list.append(4)

In [56]:
my_list

[1, 2, 3, 4]

#### **2. `extend()`**

In [57]:
# Extend the list with another list
my_list.extend([5, 6])

In [58]:
my_list

[1, 2, 3, 4, 5, 6]

In [61]:
list1 = [10,20,30]
list2 = [100,200,300]

In [62]:
list1

[10, 20, 30]

In [63]:
list2

[100, 200, 300]

In [64]:
list1.extend(list2)

In [65]:
list1

[10, 20, 30, 100, 200, 300]

In [66]:
list2.extend(list1)

In [67]:
list2

[100, 200, 300, 10, 20, 30, 100, 200, 300]

#### **3. `insert()`**

In [68]:
my_list

[10, 1, 2, 3, 4, 5, 6]

In [69]:
# Insert an element at a specific index
my_list.insert(3, 100)

In [71]:
# Insert an element at a specific index
my_list.insert(3, 3)

In [72]:
my_list

[10, 1, 2, 3, 100, 3, 4, 5, 6]

#### **4. `remove()`**

In [73]:
# Remove the first occurrence of a value
my_list.remove(3)

In [74]:
my_list

[10, 1, 2, 100, 3, 4, 5, 6]

#### **5. `pop()`**

In [75]:
my_list

[10, 1, 2, 100, 3, 4, 5, 6]

In [78]:
my_list.pop()

5

In [79]:
my_list

[10, 1, 2, 100, 3, 4]

In [80]:
# Remove and return the last element
popped_element = my_list.pop()

In [81]:
popped_element

4

#### **6. `index()`**

In [82]:
my_list.index(100)

3

In [74]:
# Find the index of a value
index_of_2 = my_list.index(2)

In [75]:
index_of_2

2

In [85]:
for i in my_list:
    print("index = ",my_list.index(i),"Value = ",i)

index =  0 Value =  10
index =  1 Value =  1
index =  2 Value =  2
index =  3 Value =  100
index =  4 Value =  3

#### **7. `count()`**

In [88]:
my_list.extend([1,2,3,4,2,3,100,3,4])

In [89]:
my_list

[10, 1, 2, 100, 3, 1, 2, 3, 4, 2, 3, 100, 3, 4]

In [91]:
my_list.count(100)

2

In [92]:
# Count occurrences of a value
count_of_1 = my_list.count(1)

In [93]:
count_of_1

2

### 5. **Sorting and Reversing**

- You can sort a list using the `sort()` method or the `sorted()` function.
- You can also reverse the order of elements using the `reverse()` method.

In [103]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6]

In [96]:
my_list

[10, 1, 2, 100, 3, 1, 2, 3, 4, 2, 3, 100, 3, 4]

#### 1. sort()**

In [99]:
# Sort the list in ascending order with permanent change
my_list.sort(reverse=True)

In [100]:
my_list

[100, 100, 10, 4, 4, 3, 3, 3, 3, 2, 2, 2, 1, 1]

#### 2. sorted()

In [101]:
# Create a sorted copy of the list
sorted_list = sorted(my_list)

In [102]:
my_list

[100, 100, 10, 4, 4, 3, 3, 3, 3, 2, 2, 2, 1, 1]

#### **3. Reverse**

In [104]:
my_list

[3, 1, 4, 1, 5, 9, 2, 6]

In [105]:
# Reverse the order of elements
my_list.reverse()

In [106]:
print(my_list)

[6, 2, 9, 5, 1, 4, 1, 3]

# Number of occurrences of elements

- Dealing with the number of occurrences of elements in a list is a common task in Python programming.
- There are several methods and techniques available to accomplish this, including **built-in methods** and **functions from different modules**.

## **1. Using the `count()` Method**

- The `count()` method is a built-in method of lists in Python that returns the number of occurrences of a specified element in the list.

In [108]:
my_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

In [109]:
# Count occurrences of 3 in the list
count_of_3 = my_list.count(3)
print(count_of_3)

3

## **2. Using the `collections.Counter` Class**

- The `Counter` class from the `collections` module provides a dictionary-like container for counting hashable objects.
- You can use it to count the occurrences of elements in a list.

In [110]:
from collections import Counter

In [111]:
my_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

In [114]:
# Count occurrences of elements in the list
counts = Counter(my_list)
print(counts)

Counter({4: 4, 3: 3, 2: 2, 1: 1})

In [115]:
# Access count of a specific element
print(counts[3])

3

## **3. Using List Comprehension with `collections.defaultdict`**

- You can use list comprehension along with `collections.defaultdict` to count occurrences of elements in a list.

In [116]:
from collections import defaultdict

In [117]:
my_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

In [118]:
# Count occurrences of elements in the list
counts = defaultdict(int)
for element in my_list:
    counts[element] += 1

print(dict(counts))

{1: 1, 2: 2, 3: 3, 4: 4}

In [119]:
# Access count of a specific element
print(counts[3])

3

## **4. Using `numpy.bincount()`**

- If the elements of the list are non-negative integers, you can use the `numpy.bincount()` function to count occurrences efficiently.

In [122]:
import numpy as np

In [123]:
my_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

In [124]:
my_list

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

In [126]:
# Count occurrences of elements in the list
counts = np.bincount(my_list)

print(counts)

[0 1 2 3 4]

In [127]:
# Access count of a specific element
print(counts[3])

3

## Common elements in two lists

- You can find common elements between two lists in Python using various methods.

### 1. **Using List Comprehension**

- You can use list comprehension to create a new list containing elements that are common in both lists.

In [128]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

In [129]:
list1

[1, 2, 3, 4, 5]

In [130]:
list2

[3, 4, 5, 6, 7]

In [131]:
common_elements = [x for x in list1 if x in list2]
print(common_elements)

[3, 4, 5]

#### HW - Convert above list comprehencsion into a for loop and relicate the results

### 2. **Using the `set` Intersection**

- You can convert both lists into sets and then use the intersection (`&`) operator to find common elements.

In [132]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

In [133]:
list1

[1, 2, 3, 4, 5]

In [134]:
list2

[3, 4, 5, 6, 7]

In [135]:
type(list1)

list

In [136]:
type(list2)

list

In [137]:
set1 = set(list1)
set2 = set(list2)

common_elements = list(set1 & set2)
print(common_elements)

[3, 4, 5]

### 3. **Using the `set` Intersection (Shorter Version)**

- You can directly perform the intersection operation between the sets created from the lists.

In [138]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = list(set(list1) & set(list2))
print(common_elements)

[3, 4, 5]

### 4. **Using the `filter` Function**

- You can use the `filter()` function along with a lambda function to filter elements that are common in both lists.

In [139]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = list(filter(lambda x: x in list1, list2))
print(common_elements)

[3, 4, 5]

### 5. **Using List Intersection (`set.intersection()`)**

- You can directly use the `intersection()` method of sets to find common elements between two sets created from the lists.

In [140]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = list(set(list1).intersection(list2))
print(common_elements)

[3, 4, 5]

## Nested List

- Nested lists in Python are lists that contain other lists as elements.
- This means that you can have a list within another list, forming a two-dimensional structure.
- Nested lists allow you to represent and work with multi-dimensional data in Python.

In [141]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [143]:
nested_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### **1. Matrix Representation**

- Nested lists are commonly used to represent matrices in mathematics. 
- Each inner list represents a row of the matrix, and the elements within each inner list represent the columns.

In [144]:
matrix = [[1, 2, 3],
         [4, 5, 6],
         [7, 8, 9]]

In [145]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [147]:
matrix[0][1]

2

- In this matrix representation, `matrix[0]` represents the first row `[1, 2, 3]`, `matrix[1]` represents the second row `[4, 5, 6]`, and so on.

### **2. Tabular Data**

- Nested lists can be used to represent tabular data, where each inner list represents a row of data with multiple columns.

In [148]:
student_data = [
   ['Alice', 20, 'A'],
   ['Bob', 22, 'B'],
   ['Charlie', 21, 'A']
]

In [149]:
student_data

[['Alice', 20, 'A'], ['Bob', 22, 'B'], ['Charlie', 21, 'A']]

In [150]:
import pandas as pd

In [151]:
pd.DataFrame(student_data)

         0   1  2
0    Alice  20  A
1      Bob  22  B
2  Charlie  21  A

- In this example, each inner list contains information about a student, such as their name, age, and grade.

### **3. Game Boards**

- Nested lists can represent game boards for games like Tic-Tac-Toe or Sudoku.
- Each inner list represents a row or column of the game board.

In [152]:
tic_tac_toe_board = [
   ['X', 'O', 'X'],
   ['O', 'X', 'O'],
   ['X', 'X', 'O']
]

In [153]:
tic_tac_toe_board

[['X', 'O', 'X'], ['O', 'X', 'O'], ['X', 'X', 'O']]

- In this example, each inner list represents a row of the Tic-Tac-Toe board, with `'X'` and `'O'` indicating the player's moves.

### **4. Tree-like Structures**

- Nested lists can represent hierarchical or tree-like structures, where each inner list contains sublists representing branches or nodes.

In [155]:
family_tree = [
   ['Alice', ['Bob', 'Charlie']],
   ['Bob', ['David', 'Eve']],
   ['Charlie', ['Frank', 'Grace']]
]

In [156]:
family_tree

[['Alice', ['Bob', 'Charlie']],
 ['Bob', ['David', 'Eve']],
 ['Charlie', ['Frank', 'Grace']]]

- In this example, each inner list contains a person's name followed by a list of their children.

**5. Images**

- In image processing, nested lists can represent pixel values of an image.
- Each inner list represents a row of pixels, and each pixel can have multiple values (e.g., RGB values for colored images).

In [157]:
# 120 Megapixel - 120 Million pixels
image_pixels = [
   [(255, 0, 0), (0, 255, 0), (0, 0, 255)],
   [(0, 255, 255), (255, 255, 0), (255, 0, 255)],
   [(128, 128, 128), (64, 64, 64), (192, 192, 192)]
]

In [158]:
image_pixels

[[(255, 0, 0), (0, 255, 0), (0, 0, 255)],
 [(0, 255, 255), (255, 255, 0), (255, 0, 255)],
 [(128, 128, 128), (64, 64, 64), (192, 192, 192)]]

- In this example, each inner list represents a row of pixels, and each pixel is represented by a tuple containing RGB values.

**Nested lists provide a flexible and powerful way to represent and manipulate multi-dimensional data in Python, making them valuable in various real-life scenarios.**

## Sorting different Data types in List

- In Python, you can sort lists containing different types of data using various methods and techniques.
- Here are some commonly used methods along with explanations:

### **1. Using the `sorted()` Function**

- The `sorted()` function returns a new sorted list from the elements of any iterable object, including lists.
- It does not modify the original list but returns a new sorted list.

In [110]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6]

In [111]:
# Sort the list in ascending order
sorted_list = sorted(my_list)
print(sorted_list)

[1, 1, 2, 3, 4, 5, 6, 9]

**You can also use the `reverse` parameter to sort in descending order**

In [112]:
# Sort the list in descending order
sorted_list_desc = sorted(my_list, reverse=True)
print(sorted_list_desc)

[9, 6, 5, 4, 3, 2, 1, 1]

### **2. Using the `sort()` Method**

- The `sort()` method is a built-in method of lists in Python that sorts the list in place.
- It modifies the original list and does not return a new list.

In [159]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6]

In [160]:
# Sort the list in ascending order
my_list.sort()
print(my_list)

[1, 1, 2, 3, 4, 5, 6, 9]

**Similar to `sorted()`, you can use the `reverse` parameter to sort in descending order**

In [161]:
# Sort the list in descending order
my_list.sort(reverse=True)
print(my_list)  # Output: [9, 6, 5, 4, 3, 2, 1, 1]

[9, 6, 5, 4, 3, 2, 1, 1]

### **3. Sorting Lists of Tuples by Specific Element**

- If you have a list of tuples and want to sort them based on a specific element in each tuple, you can use the `key` parameter in `sorted()` or `sort()`.

In [162]:
my_list = [(3, 'c'), (1, 'a'), (4, 'd'), (1, 'b'), (5, 'e')]

In [163]:
type(my_list)

list

In [164]:
my_list[0]

(3, 'c')

In [165]:
type(my_list[0])

tuple

In [166]:
my_list[0][0]

3

In [167]:
type(my_list[0][0])

int

In [117]:
# Sort the list of tuples based on the first element of each tuple
sorted_list = sorted(my_list, key=lambda x: x[0])
print(sorted_list)

[(1, 'a'), (1, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

### **4. Using Custom Sorting Functions**

- You can define custom sorting functions and use them with the `key` parameter to sort lists based on custom criteria.

In [170]:
def custom_sort(item):
    """
    Sort based on the last part of each string separated by '_'
    """
    return item.split('_')[-1]

In [171]:
my_list = ['file_10', 'file_2', 'file_1', 'file_20']

In [178]:
type(my_list[0])

str

In [175]:
my_list[0].split("_")[-1]

'10'

In [180]:
my_list[1].split("e")

['fil', '_2']

In [176]:
# Sort the list using a custom sorting function
sorted_list = sorted(my_list, key=custom_sort)
print(sorted_list)

['file_1', 'file_10', 'file_2', 'file_20']

## Lists as Matrices

- Nested lists are commonly used to represent matrices in Python.
- A matrix is a two-dimensional array where each element is identified by two indices:
    - a **row index** and 
    - a **column index**.
- Nested lists allow you to organize and manipulate matrix data efficiently.

### **Example: Creating a Matrix as a Nested List**

In [183]:
# Define a 3x3 matrix as a nested list
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [184]:
# Accessing elements of the matrix
print(matrix[0][0])

1

In [185]:
print(matrix[1][2])

6

In [186]:
print(matrix[2][1])

8

## **Operations on Matrix using Nested Lists**

### 1. **Traversal**

- You can traverse through the elements of the matrix using nested loops.

In [187]:
# Traverse and print all elements of the matrix
for row in matrix:
    for element in row:
        print(element, end=' ')
    print()
# move to the last line after printing each row

1 2 3
4 5 6
7 8 9

### 2. **Matrix Addition**

**You can perform addition of two matrices using nested loops and store the result in a new matrix.**

In [188]:
# first matrix
matrix1 = [
   [1, 2, 3],
   [4, 5, 6],
   [7, 8, 9]
]

In [189]:
# second matrix
matrix2 = [
   [9, 8, 7],
   [6, 5, 4],
   [3, 2, 1]
]

In [190]:
matrix1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [192]:
# Traverse and print all elements of the matrix
for row in matrix1:
    for element in row:
        print(element, end=' ')
    print()
# move to the last line after printing each row

1 2 3
4 5 6
7 8 9

In [191]:
matrix2

[[9, 8, 7], [6, 5, 4], [3, 2, 1]]

In [193]:
# Traverse and print all elements of the matrix
for row in matrix2:
    for element in row:
        print(element, end=' ')
    print()
# move to the last line after printing each row

9 8 7
6 5 4
3 2 1

In [194]:
result_matrix = []
for i in range(len(matrix1)):
    row = []
    for j in range(len(matrix1[0])):
        row.append(matrix1[i][j] + matrix2[i][j])
    result_matrix.append(row)

In [195]:
result_matrix

[[10, 10, 10], [10, 10, 10], [10, 10, 10]]

### 3. **Matrix Multiplication**

- Matrix multiplication involves multiplying rows of the first matrix with columns of the second matrix. 
- It can be achieved using nested loops.

[**Step by step Matrix Multiplication**](https://www.wikihow.com/Multiply-Matrices)

In [196]:
matrix1 = [
   [1, 2, 3],
   [4, 5, 6]
]

In [197]:
matrix2 = [
   [7, 8],
   [9, 10],
   [11, 12]
]

In [198]:
matrix1

[[1, 2, 3], [4, 5, 6]]

In [199]:
matrix2

[[7, 8], [9, 10], [11, 12]]

In [201]:
range(len(matrix1))

range(0, 2)

In [204]:
range(len(matrix2[0]))

range(0, 2)

In [207]:
result_matrix = []
for i in range(len(matrix1)):
    row = []
    for j in range(len(matrix2[0])):
        sum = 0
        for k in range(len(matrix2)):
            sum += matrix1[i][k] * matrix2[k][j]
        row.append(sum)
    result_matrix.append(row)

In [208]:
print(result_matrix)

[[58, 64], [139, 154]]

## List Comprehensions

- List comprehensions provide a concise and expressive way to create lists in Python by **applying an expression to each element of an iterable object** (e.g., list, tuple, string) and **optionally filtering the elements based on a condition.**
- They offer a **more readable and compact alternative** to traditional loops and conditional statements.

#### **General Syntax**

In [ ]:
[expression for item in iterable if condition]

- `expression`: The expression to be applied to each item in the iterable.
- `item`: A variable representing each item in the iterable.
- `iterable`: An iterable object (e.g., list, tuple, string) whose elements will be processed by the expression.
- `condition` (optional): An optional condition that filters the items. Only items for which the condition evaluates to `True` will be included in the resulting list.

### **Examples**

### 1. **Basic List Comprehension**

In [209]:
# Create a list of squares of numbers from 0 to 4
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

### 2. **List Comprehension with Condition**

In [210]:
# Create a list of even numbers from 0 to 9
even_numbers = [x for x in range(10) if x % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8]

### 3. **List Comprehension with Conditional Expression**

In [211]:
# Create a list where even numbers are represented as 'even' and odd numbers as 'odd'
even_odd_labels = ['even' if x % 2 == 0 else 'odd' for x in range(5)]
print(even_odd_labels)

['even', 'odd', 'even', 'odd', 'even']

## **Advantages**

- **Readability:** List comprehensions provide a more concise and readable way to create lists compared to traditional loops.

- **Expressiveness:** They allow you to express complex transformations and filtering operations in a single line of code.

- **Performance:** List comprehensions are often more efficient than equivalent loop-based approaches, especially for simple operations.

## **Limitations**

- **Readability**
  Complex list comprehensions may become less readable and harder to understand, especially for beginners.

- **Nested Structures:** Nesting list comprehensions can lead to decreased readability and difficulty in debugging.

- **Memory Usage:** In some cases, list comprehensions may consume more memory than equivalent loop-based approaches, especially for large iterables.