# What is a Tuple?

- A tuple in Python is a collection of items, similar to a list. 
- However, it has one key difference: **tuples are immutable**, meaning once created, their contents cannot be changed.
- Tuples are ordered sequences, meaning the elements in a tuple have a specific order and can be accessed by their index.

# Creating a Tuple

**You can create a tuple by placing comma-separated values inside parentheses `()`.**

In [1]:
my_tuple = (1, 2, 3, 4, 5)

In [2]:
my_tuple

(1, 2, 3, 4, 5)

In [3]:
type(my_tuple)

tuple

Alternatively, you can **create a tuple without parentheses**, but it's recommended to include them for clarity.

In [4]:
my_tuple = 1, 2, 3, 4, 5

In [5]:
my_tuple

(1, 2, 3, 4, 5)

In [6]:
type(my_tuple)

tuple

## Accessing Elements

- Accessing tuple elements in Python is quite straightforward.
- You can access individual elements of a tuple using indexing or slicing.

### Indexing

We can access elements of a tuple by specifying the index of the element within **square brackets `[]`.**

In [22]:
my_tuple = (1, 2, 3, 4, 5)

In [23]:
# Accessing the first element
print(my_tuple[0])

1

In [24]:
# Accessing the third element
print(my_tuple[2])

3

### Negative Indexing

- You can also use negative indexing to access elements from the end of the tuple.

In [25]:
# Accessing the last element
print(my_tuple[-1])

5

In [26]:
# Accessing the second-to-last element
print(my_tuple[-2])

4

### Slicing

- You can retrieve a subset of elements from a tuple using slicing, which involves specifying a start index and an end index separated by a colon `:`.

In [27]:
# Slicing from index 1 to 3 (excluding 3)
print(my_tuple[1:3])

(2, 3)

In [28]:
# Slicing from the beginning to index 3 (excluding 3)
print(my_tuple[:3])

(1, 2, 3)

In [29]:
# Slicing from index 2 to the end
print(my_tuple[2:])

(3, 4, 5)

### Accessing Nested Tuples

- If your tuple contains nested tuples, you can access elements of the inner tuples using **multiple levels of indexing.**

In [30]:
nested_tuple = ((1, 2), (3, 4), (5, 6))

In [31]:
# Accessing the second element of the first inner tuple
print(nested_tuple[0][1])

2

Accessing tuple elements involves using indexing, negative indexing, slicing, and tuple unpacking. Understanding these methods will allow you to manipulate tuple data effectively in Python.

## Tuple Length

You can find the length of a tuple using the `len()` function.

In [9]:
print(len(my_tuple))

5

## Tuple Immutability

- As mentioned earlier, **tuples are immutable**, meaning you cannot change the values once the tuple is created.

In [10]:
# This will raise a TypeError
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

## Tuple with Mixed Data Types

**Tuples can contain elements of different data types.**

In [11]:
mixed_tuple = (1, "hello", 3.5, True)

## Tuple Packing and Unpacking

- Tuple packing is when multiple values are assigned to a tuple.
- Tuple unpacking is the reverse process, where a tuple's values are assigned to multiple variables.

In [12]:
my_tuple = 3, 4

In [13]:
x, y = my_tuple

In [14]:
print("x =", x)

x = 3

In [15]:
print("y =", y)

y = 4

## Tuple Operations

**Tuples support various operations like concatenation and repetition, just like lists.**

- Some basic operations that you can perform on tuples in Python

### 1. Creating a Tuple

In [32]:
# Real-life example: Storing coordinates
coordinates = (3, 4)

### 2. Accessing Elements

In [33]:
# Accessing individual data points
print(coordinates[0])

3

### 3. Slicing

In [34]:
# Real-life example: Extracting a subset of data
week_days = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")
working_days = week_days[:5]

In [35]:
print(working_days)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

### 4. Concatenation

In [36]:
# Combining multiple tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2

In [37]:
print(combined_tuple)

(1, 2, 3, 4, 5, 6)

### 5. Repetition

In [38]:
# Replicating data
repeated_tuple = ("Hello",) * 3

In [39]:
print(repeated_tuple)

('Hello', 'Hello', 'Hello')

### 6. Membership Test

In [40]:
# Checking if an item is in a collection
fruits = ("apple", "banana", "orange")

In [41]:
print("banana" in fruits)

True

In [42]:
print("grape" in fruits)

False

### 7. Length

In [43]:
# Finding the number of elements in a collection
print(len(fruits))

3

### 8. Iteration

In [44]:
# Looping through items in a collection
for fruit in fruits:
    print(fruit)

apple
banana
orange

### 9. Tuple Unpacking

In [ ]:
# Assigning values to multiple variables
point = (3, 4)
x, y = point

In [45]:
print("x =", x)
print("y =", y)

x = 3
y = 4

### 10. Nested Tuples

In [46]:
# Real-life example: Representing hierarchical data
person = ("John", ("Doe", 30))
print(person[1][0])

Doe

## Tuple Methods

- Though tuples are immutable and don't have many methods compared to lists, they still have a few useful methods such as **`count()` and `index()`.**

In [19]:
my_tuple = (1, 2, 2, 3, 4, 2)

In [20]:
print(my_tuple.count(2))

3

In [21]:
print(my_tuple.index(3))

3

### 1. `len()`

In [47]:
my_tuple = (1, 2, 3, 4, 5)
print(len(my_tuple))

5

### 2. `max()`

In [48]:
my_tuple = (1, 2, 3, 4, 5)
print(max(my_tuple))

5

### 3. `min()`

In [49]:
my_tuple = (1, 2, 3, 4, 5)
print(min(my_tuple))

1

### 4. `sum()`

In [50]:
my_tuple = (1, 2, 3, 4, 5)
print(sum(my_tuple))

15

### 5. `sorted()`

In [51]:
my_tuple = (5, 2, 8, 1, 3)
sorted_tuple = sorted(my_tuple)
print(sorted_tuple)

[1, 2, 3, 5, 8]

### 6. `tuple()`

Converts another iterable (e.g., list, string) into a tuple.

In [52]:
my_list = [1, 2, 3]
converted_tuple = tuple(my_list)
print(converted_tuple)

(1, 2, 3)

### 7. `count()`

Counts the occurrences of a specified element in a tuple.

In [53]:
my_tuple = (1, 2, 2, 3, 4, 2)
print(my_tuple.count(2))

3

### 8. `index()`

Returns the index of the first occurrence of a specified element in a tuple.

In [54]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple.index(3))

2

### 9. `any()`

Checks if any element in the tuple evaluates to True.

In [60]:
my_tuple = (0, False, "", 1)
print(any(my_tuple))

True

**Explanation**

- In the example above, the any() function checks if any of the elements in the tuple my_tuple evaluate to True.
- Since the integer 1 evaluates to True, the any() function returns True.

### 10. `all()`

Checks if all elements in the tuple evaluate to True.

In [ ]:
all(iterable)

In [61]:
my_tuple = (1, True, "hello")
print(all(my_tuple))

True

**Explanation**

- In the example above, the all() function checks if all elements in the tuple my_tuple evaluate to True.
- Since all elements in the tuple evaluate to True, the all() function returns True.

#### Key Points

- Both `any()` and `all()` functions are useful for evaluating the truthiness of elements within an iterable.
- `any()` returns True if at least one element is true.
- `all()` returns True only if all elements are true.
- For empty iterables, `any()` returns False, while `all()` returns True because there are no elements to evaluate.
- These functions are handy when you need to perform logical checks on collections of data, especially when dealing with conditions involving multiple elements.

## When to Use Tuples

- Use tuples when you have a collection of items that should not change during the program's execution, such as **coordinates, constant values**, or when you want to **ensure data integrity.**

## Inserting Elements in tuples

- In Python, **tuples are immutable**, which means you cannot directly insert or modify elements once the tuple is created.
- However, you can **achieve a similar effect** by creating a new tuple with the desired elements added.

### 1. Concatenation

**You can concatenate tuples to create a new tuple with additional elements.**

In [62]:
original_tuple = (1, 2, 3)
new_tuple = original_tuple + (4,)
print(new_tuple)

(1, 2, 3, 4)

### 2. Slicing and Concatenation

**You can slice the original tuple and then concatenate it with the new elements.**

In [63]:
original_tuple = (1, 2, 3)
new_tuple = original_tuple[:2] + (4,) + original_tuple[2:]
print(new_tuple)

(1, 2, 4, 3)

### 3. Using `tuple()`

**You can convert other iterable objects (such as lists) into tuples and then concatenate them.**

In [64]:
original_tuple = (1, 2, 3)
new_elements = [4, 5]
new_tuple = original_tuple + tuple(new_elements)
print(new_tuple)

(1, 2, 3, 4, 5)

### Important Points

- Remember to include a comma `,` after the new element when concatenating with a single-element tuple to differentiate it from an expression within parentheses.
- While you cannot directly modify tuples, you can create new tuples with the desired modifications.
- These methods allow you to simulate the behavior of inserting elements into tuples while adhering to Python's immutability principle.

## Modifying elements in Tuples

- In Python, **tuples are immutable**, meaning once they are created, their elements cannot be modified directly. 
- However, if you need to change or modify elements in a tuple, you'll typically create a new tuple with the desired modifications.

### 1. Creating a New Tuple

- You can create a new tuple with the modified elements by concatenating parts of the original tuple with the modified elements.

In [65]:
original_tuple = (1, 2, 3)
modified_tuple = original_tuple[:2] + (4,) + original_tuple[3:]
print(modified_tuple)

(1, 2, 4)

### 2. Using List Conversion

- You can convert the tuple into a list, modify the elements as needed, and then convert it back to a tuple.

In [67]:
# Define a tuple
original_tuple = (1, 2, 3)

# convert it into list
list_version = list(original_tuple)

# modify the element in list
list_version[2] = 4

# convert it back to tuple
modified_tuple = tuple(list_version)

# See the effect
print(modified_tuple)

(1, 2, 4)

### Important Points

- Although tuples themselves are immutable, their elements may be mutable objects. 
- In such cases, you can modify the mutable objects contained within the tuple, but you cannot modify the tuple itself.
- Modifying a tuple directly is not possible due to its immutable nature.
- Instead, you create a new tuple with the desired modifications.
- Converting a tuple to a list allows you to modify its elements, but keep in mind that this approach changes the data structure from a tuple to a list.

## Deleting elements from a tuple

- Since tuples are immutable in Python, you cannot directly delete elements from them. 
- However, you can achieve the effect of deleting elements by creating a new tuple without the elements you want to remove.

### 1. Using Slicing

**You can create a new tuple by slicing the original tuple to exclude the elements you want to delete.**

In [68]:
original_tuple = (1, 2, 3, 4, 5)
index_to_delete = 2
new_tuple = original_tuple[:index_to_delete] + original_tuple[index_to_delete+1:]
print(new_tuple)

(1, 2, 4, 5)

### 2. Using List Conversion

- Similar to modifying elements, you can convert the tuple into a list, remove the desired elements, and then convert it back to a tuple.

In [69]:
# define the tuple
original_tuple = (1, 2, 3, 4, 5)

# convert it to list
list_version = list(original_tuple)

# index locaiton of the element to delete
index_to_delete = 2

# use `del` method
del list_version[index_to_delete]

# convert it back to tuple
new_tuple = tuple(list_version)

# print the result
print(new_tuple)

(1, 2, 4, 5)

### Important Points
- Deleting elements from tuples involves creating a new tuple with the desired modifications.
- Converting a tuple to a list allows you to perform deletion operations, but it changes the data structure from a tuple to a list.
- Tuples being immutable means that their elements cannot be directly deleted or modified.