# Python for Data 3_1: Literals

**Literal is a constant value stored into a variable in a program**

In [1]:
a=25

- "a" is a variable into which constant value "25 " is stored.
- Hence value "25" is callde "literal"
- since 15 is an integer value, hence it is called "integer literal"

There are various types of literals, categorized by the dtype of value they hold.
- **Numeric Literal**
- **Boolean Literal**
- **String Literal**

## 1. Numeric Literal

**These literals represent Numbers.**

### 1.1. Integer Literal

These values are perfect integers.
- Eg. 249, 87, 2349, -73, -90, etc.

### 1.2. Float Literal

These values are in fractions or decimal places.
- Eg. 3.14286, -10.6, 1.24E4, etc

### 1.3. Hexadecimal Literals

- Hexadecimal Number System uses 10 digits and 6 letters
- **0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F**
- Letters represent the numbers starting from 10. 
- A = 10. B = 11, C = 12, D = 13, E = 14, F = 15 
- Also called as **base 16 number system.**

Eg. 0x5A1C

In [2]:
a = 0x12
print("Hexadecimal = ",a)

Hexadecimal =  18

In [3]:
b = 0x5A1C

In [4]:
b

23068

### 1.4. Octal Literal

- Octal Number uses eight digits,
- **0,1,2,3,4,5,6,7
- Also called as **base 8 number system**.
- Each position in an octal number represents a 0 power of the base (8).
- Last position in an octal number represents a x power of the base (8).

In [5]:
c = 0O20
print("Octal = ",c)

Octal =  16

### 1.5. Binary Literal

- Binary is a **base 2 numeral system**, using only the digits **0 and 1**.
- It commonly represents the 0 ("off") and 1 ("on") states of electrical flow through transistors and switches in computers, as well as the positive and negative charges in magnetic storage media.
- Binary can represent all the integers that are used in base 10.

Eg. 0B110101

In [6]:
binary_literal = 0B110101

In [7]:
binary_literal

53

### 1.6. Complex Literal

**These values represent Complaex numbers**

In [8]:
complex_literal = 18+3j

In [9]:
complex_literal

(18+3j)

In [10]:
type(complex_literal)

complex

# 2. Boolean Literals

**These values only hold "True" or "False"**

In [13]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [11]:
boolean_literal = True

In [14]:
boolean_literal

True

In [15]:
type(boolean_literal)

bool

# 3. String Literal

- A **string literal is a **sequence of characters enclosed in quotation marks**
- Eg. "Hello, world!" or "12345". 
- The characters within the quotation marks are interpreted exactly as they appear, without any special meaning or processing.

In [19]:
type(23)

int

In [17]:
type("23")

str

In [20]:
string_literal_1 = "We are learning Literals in Python"

In [21]:
string_literal_1

'We are learning Literals in Python'

In [22]:
type(string_literal_1)

str

**When string literals go beyond of 1 line, we should go for triple quotes in the following manner:**

#### triple quotes (single)

In [28]:
string_literal_2 = '''
We have just started learning Python programming.
We are at a very early stages of programming.
We will slowly and gradually learn Python with practice and dedication.
'''

In [30]:
string_literal_2

'\nWe have just started learning Python programming.\nWe are at a very early stages of programming.\nWe will slowly and gradually learn Python with practice and dedication.\n'

#### Triple quotes (Double)

In [32]:
string_literal_3 = """
The single and double quotes work exactly in the same way.
The only difference is when you have some text, which is part of literal, containing quotes
it might be ambigouos for python to understand.
Example  - We're learning python
"""

In [33]:
string_literal_3

"\nThe single and double quotes work exactly in the same way.\nThe only difference is when you have some text, which is part of literal, containing quotes\nit might be ambigouos for python to understand.\nExample  - We're learning python\n"

## 3.1. Escape Characters in Strings

**An escape character is a backslash ( \ ) followed by the character you want to insert.**

### 3.1.1. Only Backslash - \

In [31]:
escape_char_1 = 'Here's an error occured, because our string contains single quotes and we're defining the string with underquotes'

SyntaxError: invalid syntax (1606823640.py, line 1)

In [32]:
# fixing the above error with escape character
escape_char_2 = 'Here\'s an error occured, because our string contains single quotes and we\'re defining the string with underquotes.'

In [34]:
escape_char_2

"Here's an error occured, because our string contains single quotes and we're defining the string with underquotes."

### Common used Escape characters

- \ ==> Display a single backslash \
- **\\'** ==> Display a single quote
- **\\"** ==> Display a double quote
- **\b** ==> Backspace
- **\r** ==> Enter
- **\t** ==> Horizontal tab space
- **\v** ==> vertical Tab
- **\n** ==> New Line

# Operators

- Arithmetc Operators
- Assignment Operators
- Unary minus Operators
- relational/ Comparision Operators
- Logical Operators
- Boolean Operators
- Biwise Operators

## 1. **Arithmetic operators**:

These operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.
   - Examples: 
     - Addition: `a + b`
     - Subtraction: `a - b`
     - Multiplication: `a * b`
     - Division: `a / b`
     - Modulo: `a % b`
     - Exponentiation: `a ** b`
     - Floor Division: `a // b`

In [35]:
num_1 = 15
num_2 = 4

### 1.1. Addtion

In [36]:
num_1 + num_2

19

### 1.1. Subtraction

In [37]:
num_1 - num_2

11

### 1.1. Multiplication

In [38]:
num_1 * num_2

60

### 1.1. Division

In [39]:
num_1 / num_2

3.75

### 1.1. Modulo

In [40]:
num_1 % num_2

3

### 1.1. Exponential

In [41]:
num_1 ** num_2

50625

### 1.1. Floor Division

In [42]:
num_1 // num_2

3

## 2. **Comparison operators**:

These operators are used to compare two values and return a Boolean result.
   - Examples:
     - Equal to: `a == b`
     - Not equal to: `a != b`
     - Greater than: `a > b`
     - Less than: `a < b`
     - Greater than or equal to: `a >= b`
     - Less than or equal to: `a <= b`

- = this is used to assign values to a variable
- == this is used yo compare the values

In [46]:
# single equal to
var = 3
var_2 = 10

In [47]:
var

3

In [48]:
var == var_2

False

### 2.1. Equal to

In [43]:
num_1 == num_2

False

### 2.2. Not Equal to

In [49]:
num_1 != num_2

True

### 2.3. Greater Than

In [50]:
num_1 > num_2

True

### 2.4. Less than

In [51]:
num_1 < num_2

False

### 2.5. Greater than or equal to

In [52]:
num_1 >= num_2

True

### 2.6. Less than or equal to

In [53]:
num_1 <= num_2

False

## 3. **Assignment operators**:

 These operators are used to assign values to variables.
   - Examples:
     - Simple assignment: `a = 5`
     - Addition assignment: `a += 5` (equivalent to `a = a + 5`)
     - Subtraction assignment: `a -= 5` (equivalent to `a = a - 5`)
     - Multiplication assignment: `a *= 5` (equivalent to `a = a * 5`)
     - Division assignment: `a /= 5` (equivalent to `a = a / 5`)
     - Modulo assignment: `a %= 5` (equivalent to `a = a % 5`)
     - Exponentiation assignment: `a **= 5` (equivalent to `a = a ** 5`)
     - Floor Division assignment: `a //= 5` (equivalent to `a = a // 5`)

### 3.1. Simple Assignment

In [54]:
a =5

In [55]:
a

5

### 3.2. Addition Assignment

In [56]:
b = 10

In [57]:
b

10

In [58]:
b += 5

In [59]:
b

15

### 3.3. Subtraction Assignment

In [60]:
c = 12

In [61]:
c

12

In [62]:
c-=3

In [63]:
c

9

### 3.4. Multiplication assignment

In [64]:
d = 4

In [68]:
d

20

In [66]:
d *= 5

In [67]:
d

20

### 3.5. Division Assignment

In [69]:
e = 100

In [70]:
e

100

In [71]:
e /= 5

In [72]:
e

20.0

### 3.6. Modulo assignment

In [73]:
f = 12

In [74]:
f

12

In [75]:
f %= 5

In [76]:
f

2

### 3.7. Exponentiation assignment

In [77]:
g = 2

In [78]:
g

2

In [79]:
g**= 5

In [80]:
g

32

### 3.8. Floor Division assignment

In [81]:
h = 17

In [82]:
h

17

In [83]:
h//= 5

In [84]:
h

3

## 4. **Logical operators**

These operators are used to combine conditional statements.
   - Examples:
     - Logical AND: `a and b`
     - Logical OR: `a or b`
     - Logical NOT: `not a`

### 4.1. AND

In [85]:
x = 5
y = 10
z = 15

if x > 0 and y > 0:
    print("Both x and y are positive numbers.")

if x > 0 and z < 10:
    print("This will not be printed because the condition is not met.")

Both x and y are positive numbers.

### 4.2. OR

In [86]:
x = 5
y = -5

if x > 0 or y > 0:
    print("At least one of x and y is a positive number.")

if x < 0 or y < 0:
    print("At least one of x and y is a negative number.")

At least one of x and y is a positive number.
At least one of x and y is a negative number.

### 4.3. NOT

In [87]:
x = True
y = False

if not x:
    print("This will not be printed because x is True.")

if not y:
    print("y is False.")

y is False.

## 5. **Bitwise operators**

These operators perform bit-level operations.
   - Examples:
     - Bitwise AND: `a & b`
     - Bitwise OR: `a | b`
     - Bitwise XOR: `a ^ b`
     - Bitwise NOT: `~a`
     - Left Shift: `a << b`
     - Right Shift: `a >> b`

### 5.1. Bitwise AND (&)

**This operator performs a bitwise AND operation between two integers.**

In [108]:
a = 10  # Binary: 1010
b = 6   # Binary: 0110

result = a & b  # Binary: 0010 (2 in decimal)
print("Result of bitwise AND:", result)

Result of bitwise AND: 2

### 5.2. Bitwise OR (|)

**This operator performs a bitwise OR operation between two integers.**

In [88]:
a = 10  # Binary: 1010
b = 6   # Binary: 0110

result = a | b  # Binary: 1110 (14 in decimal)
print("Result of bitwise OR:", result)

Result of bitwise OR: 14

### 5.3. Bitwise XOR (^)

**This operator performs a bitwise XOR (exclusive OR) operation between two integers.**

In [89]:
a = 10  # Binary: 1010
b = 6   # Binary: 0110

result = a ^ b  # Binary: 1100 (12 in decimal)
print("Result of bitwise XOR:", result)

Result of bitwise XOR: 12

### 5.4. Bitwise NOT (~)

**This operator performs a bitwise NOT operation, which inverts all bits of an integer.**

In [91]:
a = 10  # Binary: 1010

result = ~a  # Binary: -(1011) (in two's complement representation)
print("Result of bitwise NOT:", result)  # Output will depend on the representation of

Result of bitwise NOT: -11

### 5.5. Left Shift (<<)

**This operator shifts the bits of a number to the left by a specified number of positions.**

In [92]:
a = 5  # Binary: 0101

result = a << 2  # Binary: 010100 (20 in decimal)
print("Result of left shift:", result)

Result of left shift: 20

### 5.6. Right Shift (>>)

**This operator shifts the bits of a number to the right by a specified number of positions.**

In [93]:
a = 20  # Binary: 10100

result = a >> 2  # Binary: 0010 (5 in decimal)
print("Result of right shift:", result)

Result of right shift: 5

## 6. **Membership operators**:

**These operators are used to test whether a value or variable is found in a sequence.**

 - Examples:
     - `x in sequence`
     - `x not in sequence`

### 6.1. **`in` operator**

**This operator checks if a value exists in a sequence.**

In [95]:
my_list = [1, 2, 3, 4, 5]

In [96]:
3 in my_list

True

In [97]:
11 in my_list

False

In [98]:
another = ['Ram', 'Shyam', 'Balram']

In [99]:
another

['Ram', 'Shyam', 'Balram']

In [100]:
type(another)

list

In [101]:
'Raj' in another

False

In [102]:
'Shyam' in another

True

In [103]:
'shyam' in another

False

In [94]:
# Check if 3 exists in the list
if 3 in my_list:
    print("3 is present in the list.")
else:
    print("3 is not present in the list.")

3 is present in the list.

### 6.2. **`not in` operator**

**This operator checks if a value does not exist in a sequence.**

In [104]:
my_list = [1, 2, 3, 4, 5]

# Check if 6 does not exist in the list
if 6 not in my_list:
    print("6 is not present in the list.")
else:
    print("6 is present in the list.")

6 is not present in the list.

## 7. **Identity operators**

**These operators are used to compare the memory locations of two objects.**
   - Examples:
     - `a is b`
     - `a is not b`

### 7.1. **`is` operator**

**This operator checks if two variables refer to the same object.**

In [105]:
a=5
b=5

In [106]:
a is b

True

In [107]:
a==b

True

In [108]:
id(a)

140707613676456

In [109]:
id(b)

140707613676456

In [110]:
x = [1, 2, 3]
y = [1, 2, 3]

# Check if x and y refer to the same object
if x is y:
    print("x and y refer to the same object.")
else:
    print("x and y do not refer to the same object.")

x and y do not refer to the same object.

In [111]:
id(x)

2851459221632

In [112]:
id(y)

2851460253440

In [113]:
x1 = [1,2,3]
y1=x1

In [114]:
x1

[1, 2, 3]

In [115]:
y1

[1, 2, 3]

In [116]:
if x1 is y1:
    print("x1 and y1 refer to the same object.")
else:
    print("x1 and y1 do not refer to the same object.")

x1 and y1 refer to the same object.

In [117]:
id(x1)

2851459182912

In [118]:
id(y1)

2851459182912

### 7.2. **`is not` operator**

**This operator checks if two variables do not refer to the same object.**

In [119]:
x = [1, 2, 3]
y = [1, 2, 3]

# Check if x and y do not refer to the same object
if x is not y:
    print("x and y do not refer to the same object.")
else:
    print("x and y refer to the same object.")

x and y do not refer to the same object.

In [120]:
id(x)

2851459573632

In [121]:
id(y)

2851459239744

# Order of Precedence for Operators

In Python, operators have different precedence levels, which determine the order in which they are evaluated in an expression. 

Here's the general order of precedence, from highest to lowest:

1. **Parentheses `()`**
    - Highest precedence; parentheses are used to force precedence, ensuring that expressions within them are evaluated first.

2. **Exponentiation `**`**
    - Next highest precedence; exponentiation is evaluated before other **arithmetic operations**.

3. **Unary `+` and `-`**
    - These operators indicate positive and negative numbers.

4. **Multiplication `*`, Division `/`, Floor Division `//`, and Modulus `%`**
    - These arithmetic operations have the same precedence and are evaluated from left to right.

5. **Addition `+` and Subtraction `-`**
    - These arithmetic operations have the same precedence and are evaluated from left to right.

6. **Bitwise Shifts `<<` and `>>`**
    - These operators shift bits to the left or right, respectively.

7. **Bitwise AND `&`**
    - This operator performs a bitwise AND operation.

8. **Bitwise XOR `^`**
    - This operator performs a bitwise exclusive OR operation.

9. **Bitwise OR `|`**
    - This operator performs a bitwise OR operation.

10. **Comparison operators (`==`, `!=`, `>`, `<`, `>=`, `<=`, `is`, `is not`, `in`, `not in`)**
    - These operators compare values and return a Boolean result.

11. **Logical NOT `not`**
    - This operator negates the value of a Boolean expression.

12. **Logical AND `and`**
    - This operator performs a logical AND operation.

13. **Logical OR `or`**
    - This operator performs a logical OR operation.

Remember, if operators of equal precedence appear in the same expression, they are evaluated from left to right (except exponentiation, which is evaluated from right to left). You can use parentheses to override the default precedence and force specific operations to be evaluated first.